<?php if($block->getData('widgettitle')): ?>
            <h2 class='widget-title'><?php echo $block->getData('widgettitle'); ?></h2>
<?php endif; ?>
<?php if($block->getData('widgetcontent')): ?>
            <h2 class='widget-content'><?php echo $block->getData('widgetcontent'); ?></h2>
<?php endif; ?>
<?php if($block->getdata('id_path')):?>
  <h2 class='widget-category'><?php echo $block->getData('id_path'); ?></h2>
  <?php $categoryId = 3;
     $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $category = $_objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
echo $category->getName()?>

<?php endif; ?>
<?php if($block->getData('id_paths')): ?>
            <h2 class='widget-product'><?php echo $block->getData('id_paths'); ?></h2>
            <?php
   $productId = 8;
   $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
   $currentproduct = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
   echo $currentproduct->getName();
   echo "<br>";
   echo $currentproduct->getPrice();?>
  <?php  echo "<br>";?>
   <?php $imagewidth=200;
$imageheight=200;
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
$image_url = $imageHelper->init($currentproduct, 'product_page_image_small')->setImageFile($currentproduct->getFile())->resize($imagewidth, $imageheight)->getUrl();
 ?>
<img src="<?php echo $image_url; ?>">

<?php endif; ?>
